In [78]:

import pandas as pd
from sqlalchemy import create_engine
# print(f"pd.__version__ = {pd.__version__} ")

In [79]:
df = pd.read_csv("./data/yellow_taxi.csv", nrows=101)


print(df)

     VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0           1  2021-02-01 00:40:47   2021-02-01 00:48:28              1.0
1           1  2021-02-01 00:07:44   2021-02-01 00:20:31              1.0
2           1  2021-02-01 00:59:36   2021-02-01 01:24:13              1.0
3           2  2021-02-01 00:03:26   2021-02-01 00:16:32              1.0
4           2  2021-02-01 00:20:20   2021-02-01 00:24:03              2.0
..        ...                  ...                   ...              ...
96          2  2021-02-01 00:30:58   2021-02-01 00:32:21              1.0
97          1  2021-02-01 00:26:45   2021-02-01 00:42:13              1.0
98          1  2021-02-01 00:44:28   2021-02-01 00:44:42              1.0
99          2  2021-02-01 00:06:19   2021-02-01 00:12:48              1.0
100         2  2021-02-01 00:28:37   2021-02-01 00:32:10              1.0

     trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0             2.30         1.0                  N           141           226
1             1.60         1.0                  N            43           263
2             5.30         1.0                  N           114           263
3             2.79         1.0                  N           236           229
4             0.64         1.0                  N           229           140
..             ...         ...                ...           ...           ...
96            0.37         1.0                  N           264           264
97            3.30         1.0                  N           146           193
98            0.00         1.0                  N           193           193
99            1.17         1.0                  N           233           164
100           0.60         1.0                  N           230            48

     payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0               2          8.5    3.0      0.5        0.00           0.0
1               2          9.5    3.0      0.5        0.00           0.0
2               2         19.0    3.0      0.5        0.00           0.0
3               1         11.0    0.5      0.5        2.96           0.0
4               1          4.5    0.5      0.5        1.66           0.0
..            ...          ...    ...      ...         ...           ...
96              1          3.0    0.5      0.5        2.04           0.0
97              1         12.5    0.5      0.5        1.00           0.0
98              3          2.5    0.5      0.5        0.00           0.0
99              2          6.5    0.5      0.5        0.00           0.0
100             1          4.5    0.5      0.5        0.00           0.0

     improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                      0.3         12.30                   2.5          NaN
1                      0.3         13.30                   0.0          NaN
2                      0.3         22.80                   2.5          NaN
3                      0.3         17.76                   2.5          NaN
4                      0.3          9.96                   2.5          NaN
..                     ...           ...                   ...          ...
96                     0.3          8.84                   2.5          NaN
97                     0.3         14.80                   0.0          NaN
98                     0.3          3.80                   0.0          NaN
99                     0.3         10.30                   2.5          NaN
100                    0.3          8.30                   2.5          NaN

[101 rows x 19 columns]

In [80]:
df.tpep_pickup_datetime = pd.to_datetime(df['tpep_pickup_datetime'])
df.tpep_dropoff_datetime = pd.to_datetime(df['tpep_dropoff_datetime'])

In [81]:

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
print(engine.connect())

<sqlalchemy.engine.base.Connection object at 0x14f3792e0>

In [82]:
print(pd.io.sql.get_schema(df, name = "yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [84]:
df_iter = pd.read_csv("./data/yellow_taxi.csv", iterator=True, chunksize=1000000)
df = next(df_iter)
len(df)

1000000

In [85]:
df.tpep_pickup_datetime = pd.to_datetime(df['tpep_pickup_datetime'])
df.tpep_dropoff_datetime = pd.to_datetime(df['tpep_dropoff_datetime'])

In [87]:
df.to_sql("yellow_taxi_data", engine, if_exists='replace', index=False, chunksize=1000000)

1000

In [88]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-02-01 00:40:47,2021-02-01 00:48:28,1.0,2.30,1.0,N,141,226,2,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5,NaN
1,1,2021-02-01 00:07:44,2021-02-01 00:20:31,1.0,1.60,1.0,N,43,263,2,9.5,3.0,0.5,0.00,0.0,0.3,13.30,0.0,NaN
2,1,2021-02-01 00:59:36,2021-02-01 01:24:13,1.0,5.30,1.0,N,114,263,2,19.0,3.0,0.5,0.00,0.0,0.3,22.80,2.5,NaN
3,2,2021-02-01 00:03:26,2021-02-01 00:16:32,1.0,2.79,1.0,N,236,229,1,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,NaN
4,2,2021-02-01 00:20:20,2021-02-01 00:24:03,2.0,0.64,1.0,N,229,140,1,4.5,0.5,0.5,1.66,0.0,0.3,9.96,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1,2021-02-23 16:52:24,2021-02-23 17:59:00,1.0,0.00,1.0,N,140,38,1,54.2,0.0,0.5,0.00,0.0,0.3,55.00,0.0,NaN
999996,2,2021-02-23 16:05:24,2021-02-23 16:11:51,1.0,0.93,1.0,N,151,239,1,6.0,1.0,0.5,1.00,0.0,0.3,11.30,2.5,NaN
999997,2,2021-02-23 16:13:37,2021-02-23 16:34:46,1.0,3.75,1.0,N,239,234,1,16.0,1.0,0.5,3.50,0.0,0.3,23.80,2.5,NaN
999998,2,2021-02-23 16:44:13,2021-02-23 16:45:54,1.0,0.27,1.0,N,114,144,1,3.0,1.0,0.5,1.46,0.0,0.3,8.76,2.5,NaN
999999,1,2021-02-23 16:09:23,2021-02-23 16:32:19,1.0,4.30,1.0,N,230,209,1,17.0,3.5,0.5,5.30,0.0,0.3,26.60,2.5,NaN