In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("../data/yellow_taxi.csv",nrows=100)

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [9]:
engine.connect()

In [10]:
query = """
SELECT 1 as number;
"""
pd.read_sql(query,con=engine)

   number
0       1

In [13]:
query = """
select count(*) as number from yellow_taxi_data
"""
pd.read_sql(query,engine)

    number
0  1371709